@charset "utf-8";
/* CSS Document */
/* top header*/

	/*body*/
.myDiv {
  padding: 70px;
   background-image: url('bluewallpaper.jpg');   
  text-align: center;
}
	/*HOME*/
.decoration-one {
    background-color:rgba(75,155,176,1.00);
    margin: 0;
    border-color: #157567;
    border-radius: 12px;
    padding: 9px;
    font-weight: bold;
}
	/*header*/
.header {
  padding: 3px;
  background: #102277;
  color: white;
  font-size: 30px;
}
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #000;
}
.active {
  background-color: #4079B5;
}
	/*footer*/
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #102277;
   color: white;
   text-align: center;
}
.inform{
  font-size:50px;
  color:black;
  animation-name:moreinformation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes moreinformation {
  from {color: black;}
  to {color: red;}
}		

	/*ABOUT US*/
*, *:before, *:after {
  box-sizing: inherit;
}
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.container {
  padding: 0 16px;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
